@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    padding:0px;
    margin:0px;
    font-family: Poppins, sans-serif;
}

.main{
    background-color: #111111;
    position: relative;
}

.logo img{
    width: 120px;
}

.header{
    padding:50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    display: inline;
    margin:10px 20px;
}

.nav-link{
    text-decoration: none;
    color:#ffffff;
    font-size: 14px;
    font-weight: 700;
}

.section1-content{
    display: flow-root;
    margin:0px 100px;
}

.section1-content-left{
    float: left;
}

.section1-content-left img{
    width: 600px;
}

.section1-content-right{
    margin-top:100px;
}

.section1-content-right h3{
    color:#C91B28;
    font-weight: 700;
}

.section1-content-right h1{
    font-size: 50px;
    color:#ffffff;

}

.section1-content-right p{
    color: #ffffff;
    margin: 30px 0px;
}

.about-btn button{
    padding:18px 45px;
    border: none;
    font-weight: 700;
    color: #ffffff;
    background-color:#C91B28;
}

.section2{
    margin:100px 100px;
}

.features{
    display: flex;
    justify-content: space-between;
}

.features-item{
    width: 20%;
    background-color: #1E1E1E;
    padding:50px;
}

.feature-img img{
    width: 100px;
}

.feature-name{
    color:#ffffff;
    font-size: 35px;
    font-weight: 700;
}

.feature-para{
    color:#ffffff;
    margin:10px 0px;
    font-size: 20px;
}

.more{
    color: #C91B28;
    font-size: 20px;
    font-weight: 700;
}

.section2-content2{
    margin:150px 50px;
}

.stats{
    display: grid;
    columns: 3;
    grid-template-columns: 32% 32% 32%;
    column-gap: 30px;
    row-gap: 30px;
}

.stat-item{
    text-align: center;
    background-color: #1E1E1E;
    padding:30px;
}

.stat-item.x{
    text-align: center;
    inset: 0;
    margin:auto 0px;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 3;
    background: transparent;
}

.count{
    color:#C91B28;
    font-weight:700;
    font-size: 50px;
}

.stat-name{
    color:#ffffff;
    font-size: 20px;
}

.section3{
    margin:100px 100px;
}

.section3-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    margin:50px 0px;
}

.view-btn button{
    padding:18px 45px;
    border: none;
    font-weight: 700;
    color: #ffffff;
    background-color:#C91B28;
}

.projects{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: auto;
    row-gap: 50px;
    column-gap: 50px;
}

.project-img{
    padding:50px;
    background-color: #1E1E1E;
}

.project-img img{
    width: 95%;
}

.project-name{
    padding:10px 0px;
    font-size: 25px;
    color:#ffffff;
    font-weight: 700;
}

.section4{
    margin:100px 100px;
}

.section4-content{
    color:#ffffff;
    display: flex;
    justify-content: space-around;
    background-color: #1E1E1E;
    padding:50px 50px;
}

.section4-content div h1{
    font-size: 50px;
}

.section5{
    margin:50px 0px;
    text-align: center;
}

.footer{
    text-align: center;
    display: flow-root;
    background-color: #1E1E1E;
    padding: 30px 100px;
}

.footer-logo{
    float: left;
}

.footer-logo img{
    width: 100px;
}

.social img{
    width: 25px;
    margin:0px 20px;
}

@media (max-width:1200px){

    .header{
        padding:50px 50px;
    }

    .section1-content{
        margin:0px 50px;
    }

    .section1-content-left img{
        width: 400px;
    }

    .section1-content-right{
        margin-top:10px;
    }

    .section1-content-right p{
        margin: 10px 0px;
    }

    .section2{
        margin:50px 50px;
    }

    .features-item{
        padding:40px;
    }

    .feature-img img{
        width: 60px;
    }
    
    .feature-name{
        font-size: 30px;
    }
    
    .feature-para{
        font-size: 15px;
    }

    .count{
        font-size: 40px;
    }

    .stat-name{
        font-size: 15px;
    }

    .project-img{
        padding:30px;
    }  

    .section3{
        margin:50px 50px;
    }  
    
    .section4{
        margin:50px 50px;
    } 

    .section4-content div h1{
        font-size: 40px;
    }
}

@media (max-width:900px){
    .logo img{
        width: 100px;
    }

    .nav{
        display: none;
    }

    .section1-content-left{
        float: unset;
    }

    .section1-content-left img{
        width: 100%;
    }

    .section1-content-right h1{
        font-size: 30px;
        color:#ffffff;
    }

    .section1-content-right p{
        font-size: 15px;
    }

    .features{
        flex-direction: column;
        justify-content: unset;
    }

    .features-item{
        width: 90%;
        margin:10px 0px;
        padding:20px;
    }

    .feature-img{
        float: left;
        margin-right: 20px;
    }
    
    .feature-name{
        font-size: 20px;
    }

    .more{
        font-size: 15px;
    }

    .stats{
        grid-template-columns: 32% 32% 32%;
        column-gap: 10px;
        row-gap: 10px;
    }

    .section2{
        margin:30px 20px;
    }

    .section2-content2{
        margin:30px 0px;
    }

    .count{
        font-size: 25px;
    }
    
    .stat-name{
        font-size: 15px;
    }

    .stat-item{
        padding:10px;
    }

    .section3{
        margin:20px 20px;
    }

    .section3-header div h1{
        font-size: 20px;
    }

    .section3-header{
        flex-direction: column;
        margin:20px 0px;
    }

    .section3-header div p{
        font-size: 15px;
    }

    .view-btn{
        align-self: flex-start;
        margin: 10px 0px;
    }

    .view-btn button{
        padding:10px 30px;
        font-size: 12px;
    }

    .projects{
        grid-template-columns: 98%;
        grid-template-rows: auto;
        row-gap: 30px;
    }

    .project-img{
        padding:20px;
    }
    
    .project-name{
        font-size: 20px;
    }

    .section4{
        margin:20px 20px;
    }
    
    .section4-content{
        flex-direction: column;
        padding:20px;
    }
    
    .section4-content div h1{
        font-size: 20px;
    }

    .section4-content div p{
        font-size: 15px;
    }
    
    .footer{
        padding: 20px 50px;
    }
}